.header {
    max-width: 880px;
    height: 73px;
    margin: 45px auto 0;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 900px) {
    .header {
        height: 83px;
        margin: 0;
    }
}